body{
  font-family: 'Libre Baskerville', serif;
  font-family: 'Lobster', cursive;
  font-family: 'Shadows Into Light', cursive;
  animation-name: background;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  background:linear-gradient(10deg, rgba(35, 180, 238, 0.815) 50%,rgba(43, 226, 55, 0.877) 50%);
  width: auto;
  height: 100vh;
  overflow:hidden;

}

h2{
  font-size: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
